{% extends 'private/events-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block innercontent %}
	<h1>{{ targetE.event_title }}</h1>
		<p>
			<span class="inlbl">
				{% if targetE.event_date_approximate %}
				c.a.&nbsp;
				{% endif %}
				{{ targetE.event_date }}
			</span>
			<span class="inlbr">
				<a style="font-size:1.75rem;" title="Edit the Person database record for {{ principle }}" href="javascript:eventEditFormShowHide()">
					<i class="far fa-edit" style=""></i>
				</a>
			</span>
		</p>
		<hr>
		<div id="edit_event_div" class="content-section initHide">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					{{ eventeditform|crispy }}
				</fieldset>
				<button type="cancel" onclick="javascript:sourceEditFormShowHide()">cancel</button>
				<button type="submit">submit</button>
			</form>
		</div>
	</p>

	<p><b>{{ targetE.event_type|title }} event</b></p>
	<p>Place: {{ targetE.place }}</p>
	<h2>Description</h2>
	<p>{{ targetE.event_description|linebreaks }}</p>
	<h2>Sources</h2>
	<p>
		<ul>
			{% for s in targetE.sources.all %}
			<li>{{ s }}</li>
			{% endfor %}
		</ul>
	</p>
	<h2>People Involved</h2>
	<p>
		{% for p in targetE.event_people.all %}
		<a href="{% url 'person-details' principle_id=p.id %}">{{ p }}</a><br>
		{% endfor %}
	</p>
	<hr>
	<p class="text-muted"><small>Created by {{ targetE.created_by }} on {{ targetE.created }}.</small></p>

	<script type="text/javascript" src="{% static 'person-view.js' %}"></script>
{% endblock %}