{% extends 'private/events-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block innercontent %}
	<div>
		<h1>Add a new Event</h1>
		<p>With the form below, you can add a new Event to the database.</p>
		<hr>

		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{message.tags}}">
				{{ message }}
				{{ message.tags }}
			</div>
			{% endfor %}
		{% endif %}

		<br>
		<form method='POST'>
			{% csrf_token %}
			<fieldset class="form-group">
				{{ createeventform|crispy }}
			</fieldset>
			<a href="{% url 'events-landing' %}"><button type="cancel">cancel</button></a>
			<button name="createeventf" type="submit">submit</button>
		</form>
	</div>
{% endblock %}