{% extends 'private/relationships-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block innercontent %}
	<h1>{{ targetREL }}</h1>
		<p>
			<span class="inlbl">
				From 
				{% if targetREL.start_date_approximate %}
				c.a.
				{% endif %}
				{% if targetREL.start_date %}
				{{ targetREL.start_date }}
				{% else %}
				<i>unknown</i>
				{% endif %}
				to
				{% if targetREL.end_date_approximate %}
				c.a.
				{% endif %}
				{% if targetREL.end_date %}
				{{ targetREL.end_date }}
				{% else %}
				<i>unknown</i>
				{% endif %}
			</span>
			<span class="inlbr">
				<a style="font-size:1.75rem;" title="Edit the Relationship database record." href="javascript:relationshipEditFormShowHide()">
					<i class="far fa-edit" style=""></i>
				</a>
			</span>
		</p>
		<hr>
		<div id="edit_relationship_div" class="content-section initHide">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					{{ editrelationshipform|crispy }}
				</fieldset>
				<button type="reset" onclick="javascript:relationshipEditFormShowHide()">cancel</button>
				<button type="submit">submit</button>
			</form>
		</div>
	</p>

	<p style="text-align:center;">
		<a href="{% url 'person-details' principle_id=targetREL.principle.id %}"><b>{{ targetREL.principle }}</b></a><br>
		is the<br>
		<b>{{ targetREL.relationship_type }}</b><br><br>
		<a href="{% url 'person-details' principle_id=targetREL.referent.id %}"><b>{{ targetREL.referent }}</b></a>
	</p>

	<h2>Sources</h2>
	<p>

		{% for s in targetREL.sources.all %}
		{% if s.src_is_private == False or s.created_in_DB_by_user == request.user %}
		<div class="content-section">
			<P class="inlbl">
				{% if s.src_is_private %}<span class="red">P</span>{% endif %}				
				{{ s.source_type }}: <a href="{% url 'source-details' source_id=s.id %}">{{ s.source_title }}</a>
			</P>
			<p class="inlbr">
				<small>
					<a id="source_div_{{ forloop.counter0 }}_showerHider" href="javascript:showHideDeets('source_div_{{ forloop.counter0 }}')">
						show details&nbsp;
						<i class="fas fa-arrow-alt-circle-down" style=""></i>
					</a>
				</small>
			</p>
			<div class="initHide" id="source_div_{{ forloop.counter0 }}">
				<hr class="researchHr">
				
				<p>
					<b>Date created:</b>&nbsp;
					{% if s.source_date_of_creation %}
						{% if s.source_DOC_approximate %}c.a.{% endif %}
						{{ s.source_date_of_creation }}
					{% else %}
						<small><i>undefined date</i></small>
					
					{% endif %}
				</p>
				
				{% if s.source_creator %}
				<p>
					<b>Creator:</b>&nbsp;{{ s.source_creator }}
				</p>
				{% endif %}
				
				<p>
					<b>Description</b><br>
					{% if s.source_description  %}
						{{ s.source_description }}
					{% else %}
						<small><i>No description</i></small>
					{% endif %}
				</p>

				{% if s.source_bibliographic_reference %}
				<p>
					<b>Bibliographic Reference</b><br>
					{{ s.source_bibliographic_reference|linebreaks }}
				</p>
				{% endif %}

				<p><b>Preview</b></p>
				<div id="img-preview-div">
					<a target="_blank" href="/media/{{ s.source_file }}">
						<img id="img-preview" src="/media/{{ s.source_file }}" title="If your browser supports previews of the file type, it will appear here." alt="Click download to save and view offline.">
					</a>
				</div>

				<p class="right">Edit Source:&nbsp;
					<a href="{% url 'source-details' source_id=s.id %}">
						<i class="far fa-edit" style=""></i>
					</a>
				</p>
				<hr class="researchHr">
				<small class="text-muted">Entered in DB by {{ s.created_in_DB_by_user }} on {{ s.created_in_DB }}.</small>		
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</p>


	<hr>
	<p class="text-muted"><small>Created by {{ targetREL.created_by }} on {{ targetREL.created }}.</small></p>


	<script type="text/javascript" src="{% static 'person-view.js' %}"></script>
{% endblock %}