{% extends 'private/relationships-base.html' %}

{% block innercontent %}

	<h1>Relationship Views</h1>
	<p>Welcome to the <em>Relationships</em> section!</p>
	<p>Select a Relationship on the sidebar (to the left) to view and edit its details.</p>
	<p>People are at the center of data structure, so for instance &mdash; a person must exist in the database before you can create Events, Epochs and/or Research Items related to that person; two people must already exist in the database before you can define a relationship between them; a source must exist in the database before it can be assigned as an attribute of a Person, Event, Epoch, or Relationship.</p>
	<h2>Add a Relationship</h2>
	<p>When a Relationship is not already defined, you can add it to the data base by clicking 'Add a Relationship' below.</p>
	
	<a href="{% url 'relationship-add' %}"><button>Add a Relationship</button></a>

{% endblock %}