{% extends 'public/base.html' %}




{% block content %}
	<div class="col-lg-4 col-md-12">
		<div id="people-sidebar" class="content-section">
			<h3><u>Existing Relationships</u> <a href="{% url 'relationship-add' %}" title="Add a Relationship.">+</a></h3>
			<div id="people-sidebar-inner" class="inner-content-section">
				<ul class="list-group">
				{% for R in RELs %}
				{% if R.relationship_is_private == False or R.created_by == request.user %}
				<a class="sidebar-list-item" href="{% url 'relationship-details' relationship_id=R.id %}">
					<li class="list-group-item">
						{% if R.relationship_is_private %}
						<span class="red">P</span>
						{% endif %}
						{{ R }}
					</li>
				</a>
				{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-8 col-md-12">
		{% block innercontent %}{% endblock %}
	</div>
{% endblock %}