{% extends 'private/source-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block innercontent %}
	<div>
		<h1>Add a new Source</h1>
		<p>With the form below, you can add a new Source to the database.</p>
		<hr>
		<br>
		<form enctype="multipart/form-data" method='POST'>
			{% csrf_token %}
			<fieldset class="form-group">
				{{ createsourceform|crispy }}
			</fieldset>
			<a href="{% url 'sources-landing' %}"><button type="cancel">cancel</button></a>
			<button name="personeditf" type="submit">submit</button>
		</form>
	</div>
{% endblock %}